<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @toy.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @toy.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @toy.image_url %>
</p>

<p>
  <strong>Price:</strong>
  <%= @toy.price %>
</p>

<%= link_to 'Edit', edit_toy_path(@toy) %> |
<%= link_to 'Back', toys_path %>
